.cart {
  width: 0;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.434);
  backdrop-filter: blur(20px);
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 1rem;
  z-index: 10;
  padding: 1rem 2rem;
  transform: translateX(5rem);
  box-shadow: -5px 0px 20px #a1a1a143;
  transition: all 400ms;
}
.cart p {
  margin-top: 2rem;
  font-weight: 100;
}
.isShowing {
  width: 20%;
  transform: none;
}
.cart-products-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}
